<% provide(:title, 'index') %>
<p>
    YourName: <%= current_user.name %>
  </p>

  <h2>Chat Room</h2>

<div class="message">

</div>
<div id="add-message"></div>

<!-- 投稿フォーム -->
<input type="text" data-behavior="room_speaker">
